@import "tailwindcss";




:root {
  --background: #030712;
  --foreground: #f3f4f6;
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at 50% -20%, #0f172a, #030712 80%);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* কাস্টম স্ক্রোলবার ভিডিওর মতো স্মুথ করার জন্য */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #030712;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}